* {
  padding: 0;
  margin: 0;
}
.submitButton {
  position: absolute;
  bottom: 0;
  right: 0;
}
.submitButton {
  background-color: rgb(133, 151, 221);
}
.editButton,
.deleteButton,
.submitButton {
  width: 80px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 8px;
  padding: 5px;
  font-size: 18px;
  color: white;
}
.editButton,
.deleteButton {
  align-self: flex-end;
}
.editButton {
  background-color: rgb(133, 151, 221);
}
.deleteButton {
  background-color: rgb(223, 62, 62);
  align-self: flex-end;
}
